<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kendohamster">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/tfe_pe_app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoseEstimation">

        <activity
            android:name="com.kendohamster.tracker.HistoryDailyRecord"
            android:exported="false" />
        <activity
            android:name=".tracker.History"
            android:exported="false" />
        <activity
            android:name=".tracker.Settings"
            android:exported="false" />
        <activity
            android:name=".tracker.TrainingMenu"
            android:exported="false" />
        <activity
            android:name="com.kendohamster.MotionList"
            android:exported="false" />
        <activity
            android:name="com.kendohamster.MainPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kendohamster.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>